
             @font-face {
                   font-family: Poppins;
             }
             *{
                   margin: 0;
                   padding: 0;
                   box-sizing: border-box;
                   font-family: "Poppins", sans-serif;
                   outline: none;
                   border: none;
                   text-decoration: none;
                   color: #060e30;
                   letter-spacing: 0.5%;
             }
             .container {
                   width: 793.8px;
                   height: 1125.66px;
                   display: flex;
                   flex-direction: column;
                   align-items: center; 
                   align-content: center;
                   align-self: center;
             }
             .title{
                   font-size: 20px;
                   color: black;
                   padding-top: 50px;
             }
             .Line1{
                   width: 100%;
                   display: flex;
                   flex-direction: row;
                   justify-content: space-between;
                   padding-left: 40px;
                   padding-right: 40px;
                   padding-top: 20px;
                   padding-bottom: 20px;
                   font-size: 10px;
                   color: black;
             }
             .line2{
                   width: 100%;
                   display: flex;
                   flex-direction: column;
                   align-items: center; 
                   padding-left: 40px;
                   padding-right: 40px;
                   padding-top: 20px;
                   padding-bottom: 20px;
                   font-size: 10px;
                   color: black;
             }
             .subline2{
                   display: flex;
                   flex-direction: column;
                   align-items: center; 
             }
             .informations {
                   width: 100%;
                   display: flex;
                   flex-direction: row;
                   justify-content: space-between;
                   margin-bottom: 10px;
             }
             .subinformations{
                   display: flex;
                   flex-direction: row;
                   justify-content: space-between;
                   margin-bottom: 10px;
             }
             .line3{
                   width: 100%;
                   display: flex;
                   flex-direction: row;
                   align-items: center; 
                   justify-content: space-between;
                   padding-left: 40px;
                   padding-right: 40px;
                   font-size: 10px;
                   color: black;
                   margin-bottom: 10px;
             }
             .line3-line1-title{
                   font-size: 12px;
                   margin-inline-end: 10px;
             }
             .line3-line1-subtitle{
                   display: flex;
                   flex-direction: row;
                   align-items: center; 
             }
             .line3-line1-subtitle table{
                   border-collapse: collapse;
                   color: black;
                   margin-inline-start: 10px;
             }
             .line3-line1-subtitle th{
                   border: 1px solid black; 
                   padding: 8px;
             }
             .line4{
                   display: flex;
                   flex-direction: row;
                   align-items: center; 
                   padding-left: 40px;
                   padding-right: 40px;
             }
             .line4-line1{
                   display: flex;
                   flex-direction: column;
                   align-items: center; 
                   padding-left: 40px;
                   padding-right: 40px;
             }
             .line4-line2{
                   width: 100%;
                   display: flex;
                   flex-direction: row;
                   align-items: center; 
                   font-size: 10px;
                   color: black;
                   margin-bottom: 10px;
             }
             .line4-line2 table{
                   border-collapse: collapse;
                   color: black;
                   margin-inline-start: 10px;
             }
             .line4-line2 th{
                   border: 1px solid black; 
                   padding: 8px;
             }
             .line5{
                   display: flex;
                   flex-direction: column;
                   align-items: flex-end;
                   align-self: flex-end;
                   text-align: end;
                   padding-inline-end: 40px;
                   padding-inline-start: 40px;
                   padding-bottom: 20px;
                   font-size: 12px;
             }
             .line5 h4{
                   font-size: 15px;
             }
             .line6{
                   display: flex;
                   flex-direction: column;
                   align-items: flex-start;
                   align-self: flex-start;
                   text-align: start;
                   padding-inline-end: 30px;
                   padding-inline-start: 40px;
                   padding-bottom: 20px;
                   font-size: 12px;
             }
             .line6 h4{
                   font-size: 15px;
             }
             .line6 p{
                   padding-inline-start: 20px;
             }
             .line7{
                   width: 100%;
                   display: flex;
                   flex-direction: column;
                   align-items: flex-start;
                   align-self: flex-start;
                   text-align: start;
                   padding-inline-end: 30px;
                   padding-inline-start: 40px;
                   padding-bottom: 20px;
                   font-size: 12px;
             }
             .line7 h4{
                   font-size: 15px;
                   align-items: flex-end;
                   align-self: flex-end;
                   text-align: end;
             }
             .line7 p{
                   padding-inline-start: 20px;
             }
             .line8{
                   width: 100%;
                   display: flex;
                   flex-direction: column;
                   align-items: flex-start;
                   align-self: flex-start;
                   text-align: start;
                   padding-inline-end: 30px;
                   padding-inline-start: 40px;
                   padding-bottom: 20px;
                   font-size: 15px;
                   font-weight: 500;
             }
             .line9{
                   display: flex;
                   flex-direction: column;
                   align-items: flex-start;
                   align-self: flex-start;
                   text-align: start;
                   padding-inline-start: 40px;
             }
             .line9 table{
                   border-collapse: collapse;
                   color: black;
             }
             .line9 th:nth-child(2){
                   width: 200px;
             }
             .line9 th{
                   border: 1px solid black; 
                   padding: 10px;
                   font-size: 15px;
             }
             .QRcode{
                   display: flex;
                   flex-direction: column;
                   align-items: center;
                   align-self: center;
                   align-content: center;
                   padding-top: 20px;
                   padding-bottom: 10px;
             }
             .line10{
                   width: 100%;
                   display: flex;
                   flex-direction: row;
                   justify-content: space-between;
                   padding-inline-start: 50px;
                   padding-inline-end: 50px;
                   padding-top: 20px;
                   padding-bottom: 100px;
                   font-size: 15px;
                   font-weight: 600;
                   color: black;
             }