.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.095703;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.095703;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.088867;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.088867;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.835938;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.977539;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.977539;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.682617;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1418.768000px;}
._2{width:1.008000px;}
._1{width:2.052000px;}
._3{width:50.400000px;}
.fc2{color:rgb(35,31,32);}
.fc1{color:rgb(5,99,193);}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:24.000000px;}
.fs0{font-size:26.000000px;}
.fs1{font-size:36.000000px;}
.fs3{font-size:40.000000px;}
.fs2{font-size:44.000000px;}
.fs4{font-size:56.000000px;}
.y2{bottom:-735.439000px;}
.y1{bottom:0.000000px;}
.y48{bottom:0.772999px;}
.y3a{bottom:2.389999px;}
.y46{bottom:2.498000px;}
.y8{bottom:2.724000px;}
.y6{bottom:3.499000px;}
.y10{bottom:3.500000px;}
.y4c{bottom:4.968000px;}
.y44{bottom:5.053001px;}
.yc{bottom:6.424000px;}
.y16{bottom:13.498999px;}
.y35{bottom:14.967999px;}
.y43{bottom:15.402000px;}
.y39{bottom:21.844999px;}
.y42{bottom:25.750999px;}
.y40{bottom:36.316000px;}
.y41{bottom:39.346001px;}
.y3d{bottom:47.814999px;}
.y3f{bottom:50.542000px;}
.y3e{bottom:50.844999px;}
.y3c{bottom:59.098000px;}
.y37{bottom:83.845985px;}
.y0{bottom:92.000000px;}
.y36{bottom:153.498020px;}
.y34{bottom:179.440020px;}
.y33{bottom:207.326027px;}
.y32{bottom:217.667026px;}
.y31{bottom:228.011024px;}
.y30{bottom:238.360023px;}
.y2f{bottom:248.709023px;}
.y2e{bottom:259.057991px;}
.y2d{bottom:269.406990px;}
.y2c{bottom:279.972012px;}
.y2b{bottom:291.255013px;}
.y2a{bottom:301.604012px;}
.y29{bottom:311.953011px;}
.y28{bottom:322.302010px;}
.y27{bottom:332.651009px;}
.y26{bottom:343.000008px;}
.y56{bottom:344.918015px;}
.y25{bottom:353.349007px;}
.y55{bottom:360.360015px;}
.y24{bottom:363.698006px;}
.y23{bottom:374.047005px;}
.y22{bottom:384.396004px;}
.y49{bottom:386.500000px;}
.y54{bottom:386.775994px;}
.y21{bottom:394.745003px;}
.y53{bottom:402.717996px;}
.y20{bottom:405.094002px;}
.y45{bottom:412.444000px;}
.y1f{bottom:415.443001px;}
.y47{bottom:416.568995px;}
.y52{bottom:418.659997px;}
.y1e{bottom:425.792000px;}
.y51{bottom:434.601998px;}
.y1d{bottom:436.140999px;}
.y1c{bottom:446.489998px;}
.y50{bottom:450.543996px;}
.y1b{bottom:456.838997px;}
.y4f{bottom:466.485997px;}
.y1a{bottom:467.187996px;}
.y3b{bottom:469.192999px;}
.y4e{bottom:482.427997px;}
.y4d{bottom:498.369997px;}
.y4b{bottom:514.311997px;}
.y19{bottom:544.792000px;}
.y4a{bottom:550.664001px;}
.y18{bottom:556.693001px;}
.y17{bottom:568.594002px;}
.y15{bottom:576.996004px;}
.y14{bottom:608.646004px;}
.y13{bottom:618.995003px;}
.y11{bottom:629.559996px;}
.y12{bottom:632.589996px;}
.yf{bottom:649.245002px;}
.ye{bottom:661.146003px;}
.yd{bottom:673.047004px;}
.yb{bottom:684.948000px;}
.ya{bottom:702.698001px;}
.y9{bottom:714.599000px;}
.y7{bottom:726.500000px;}
.y5{bottom:738.401000px;}
.y4{bottom:752.249000px;}
.y3{bottom:762.598000px;}
.y38{bottom:787.225001px;}
.h2{height:-728.875000px;}
.h14{height:9.549999px;}
.h13{height:11.150001px;}
.h5{height:11.901000px;}
.h16{height:15.442000px;}
.h6{height:17.750000px;}
.h3{height:18.662109px;}
.h11{height:21.117188px;}
.h7{height:22.699219px;}
.hb{height:25.441999px;}
.h8{height:28.150999px;}
.h9{height:31.429688px;}
.hc{height:31.582031px;}
.h4{height:31.675781px;}
.h12{height:34.921875px;}
.ha{height:35.195312px;}
.hd{height:35.549999px;}
.hf{height:43.312500px;}
.he{height:46.183594px;}
.h10{height:67.750000px;}
.h15{height:144.000000px;}
.h1{height:734.000000px;}
.h0{height:843.000000px;}
.w8{width:33.250000px;}
.w7{width:70.750000px;}
.w5{width:71.050003px;}
.wc{width:76.125000px;}
.wb{width:83.050006px;}
.w3{width:83.199997px;}
.w9{width:156.500018px;}
.we{width:229.600006px;}
.wf{width:232.199997px;}
.w6{width:297.250000px;}
.w4{width:338.100006px;}
.w2{width:431.875000px;}
.wd{width:463.500000px;}
.w1{width:509.500000px;}
.wa{width:519.700061px;}
.w0{width:596.000000px;}
.x5{left:0.000000px;}
.x9{left:4.883000px;}
.x2{left:6.125000px;}
.x21{left:12.950000px;}
.x15{left:15.616000px;}
.xf{left:25.952999px;}
.xe{left:30.725000px;}
.x8{left:34.457001px;}
.xb{left:35.959000px;}
.xa{left:37.511002px;}
.xc{left:40.319000px;}
.xd{left:50.425999px;}
.x12{left:57.800000px;}
.x0{left:66.000000px;}
.x3{left:72.000000px;}
.x4{left:76.825000px;}
.x27{left:94.750003px;}
.x22{left:105.420001px;}
.x1e{left:107.450001px;}
.x23{left:108.670001px;}
.x13{left:113.849998px;}
.x24{left:120.670001px;}
.x10{left:125.242002px;}
.x25{left:143.392993px;}
.x26{left:149.892993px;}
.x6{left:160.024997px;}
.x1{left:164.125000px;}
.x17{left:184.612001px;}
.x1c{left:188.877001px;}
.x20{left:285.125000px;}
.x18{left:297.730003px;}
.x1d{left:304.261002px;}
.x19{left:309.095001px;}
.x1a{left:343.692001px;}
.x1f{left:363.325989px;}
.x28{left:388.850005px;}
.x1b{left:416.449005px;}
.x14{left:481.849998px;}
.x11{left:496.806989px;}
.x7{left:498.124988px;}
.x16{left:504.540985px;}
.x29{left:519.875000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1891.690667pt;}
._2{width:1.344000pt;}
._1{width:2.736000pt;}
._3{width:67.200000pt;}
.fs5{font-size:32.000000pt;}
.fs0{font-size:34.666667pt;}
.fs1{font-size:48.000000pt;}
.fs3{font-size:53.333333pt;}
.fs2{font-size:58.666667pt;}
.fs4{font-size:74.666667pt;}
.y2{bottom:-980.585334pt;}
.y1{bottom:0.000000pt;}
.y48{bottom:1.030665pt;}
.y3a{bottom:3.186666pt;}
.y46{bottom:3.330667pt;}
.y8{bottom:3.632000pt;}
.y6{bottom:4.665333pt;}
.y10{bottom:4.666667pt;}
.y4c{bottom:6.624001pt;}
.y44{bottom:6.737335pt;}
.yc{bottom:8.565333pt;}
.y16{bottom:17.998665pt;}
.y35{bottom:19.957333pt;}
.y43{bottom:20.536001pt;}
.y39{bottom:29.126666pt;}
.y42{bottom:34.334666pt;}
.y40{bottom:48.421333pt;}
.y41{bottom:52.461334pt;}
.y3d{bottom:63.753332pt;}
.y3f{bottom:67.389333pt;}
.y3e{bottom:67.793332pt;}
.y3c{bottom:78.797333pt;}
.y37{bottom:111.794647pt;}
.y0{bottom:122.666667pt;}
.y36{bottom:204.664027pt;}
.y34{bottom:239.253359pt;}
.y33{bottom:276.434703pt;}
.y32{bottom:290.222701pt;}
.y31{bottom:304.014699pt;}
.y30{bottom:317.813365pt;}
.y2f{bottom:331.612030pt;}
.y2e{bottom:345.410655pt;}
.y2d{bottom:359.209320pt;}
.y2c{bottom:373.296015pt;}
.y2b{bottom:388.340017pt;}
.y2a{bottom:402.138682pt;}
.y29{bottom:415.937347pt;}
.y28{bottom:429.736013pt;}
.y27{bottom:443.534678pt;}
.y26{bottom:457.333344pt;}
.y56{bottom:459.890686pt;}
.y25{bottom:471.132009pt;}
.y55{bottom:480.480020pt;}
.y24{bottom:484.930674pt;}
.y23{bottom:498.729340pt;}
.y22{bottom:512.528005pt;}
.y49{bottom:515.333333pt;}
.y54{bottom:515.701326pt;}
.y21{bottom:526.326670pt;}
.y53{bottom:536.957328pt;}
.y20{bottom:540.125336pt;}
.y45{bottom:549.925333pt;}
.y1f{bottom:553.924001pt;}
.y47{bottom:555.425327pt;}
.y52{bottom:558.213329pt;}
.y1e{bottom:567.722666pt;}
.y51{bottom:579.469331pt;}
.y1d{bottom:581.521332pt;}
.y1c{bottom:595.319997pt;}
.y50{bottom:600.725328pt;}
.y1b{bottom:609.118663pt;}
.y4f{bottom:621.981330pt;}
.y1a{bottom:622.917328pt;}
.y3b{bottom:625.590666pt;}
.y4e{bottom:643.237329pt;}
.y4d{bottom:664.493329pt;}
.y4b{bottom:685.749330pt;}
.y19{bottom:726.389333pt;}
.y4a{bottom:734.218667pt;}
.y18{bottom:742.257334pt;}
.y17{bottom:758.125336pt;}
.y15{bottom:769.328005pt;}
.y14{bottom:811.528005pt;}
.y13{bottom:825.326670pt;}
.y11{bottom:839.413328pt;}
.y12{bottom:843.453328pt;}
.yf{bottom:865.660002pt;}
.ye{bottom:881.528004pt;}
.yd{bottom:897.396005pt;}
.yb{bottom:913.264000pt;}
.ya{bottom:936.930668pt;}
.y9{bottom:952.798667pt;}
.y7{bottom:968.666667pt;}
.y5{bottom:984.534667pt;}
.y4{bottom:1002.998666pt;}
.y3{bottom:1016.797333pt;}
.y38{bottom:1049.633334pt;}
.h2{height:-971.833333pt;}
.h14{height:12.733332pt;}
.h13{height:14.866667pt;}
.h5{height:15.868000pt;}
.h16{height:20.589334pt;}
.h6{height:23.666667pt;}
.h3{height:24.882812pt;}
.h11{height:28.156250pt;}
.h7{height:30.265625pt;}
.hb{height:33.922666pt;}
.h8{height:37.534665pt;}
.h9{height:41.906250pt;}
.hc{height:42.109375pt;}
.h4{height:42.234375pt;}
.h12{height:46.562500pt;}
.ha{height:46.927083pt;}
.hd{height:47.399999pt;}
.hf{height:57.750000pt;}
.he{height:61.578125pt;}
.h10{height:90.333333pt;}
.h15{height:192.000000pt;}
.h1{height:978.666667pt;}
.h0{height:1124.000000pt;}
.w8{width:44.333333pt;}
.w7{width:94.333333pt;}
.w5{width:94.733337pt;}
.wc{width:101.500001pt;}
.wb{width:110.733341pt;}
.w3{width:110.933329pt;}
.w9{width:208.666691pt;}
.we{width:306.133341pt;}
.wf{width:309.599996pt;}
.w6{width:396.333333pt;}
.w4{width:450.800008pt;}
.w2{width:575.833333pt;}
.wd{width:618.000000pt;}
.w1{width:679.333333pt;}
.wa{width:692.933414pt;}
.w0{width:794.666667pt;}
.x5{left:0.000000pt;}
.x9{left:6.510667pt;}
.x2{left:8.166667pt;}
.x21{left:17.266666pt;}
.x15{left:20.821334pt;}
.xf{left:34.603999pt;}
.xe{left:40.966667pt;}
.x8{left:45.942668pt;}
.xb{left:47.945333pt;}
.xa{left:50.014669pt;}
.xc{left:53.758667pt;}
.xd{left:67.234665pt;}
.x12{left:77.066667pt;}
.x0{left:88.000000pt;}
.x3{left:96.000000pt;}
.x4{left:102.433333pt;}
.x27{left:126.333337pt;}
.x22{left:140.560001pt;}
.x1e{left:143.266668pt;}
.x23{left:144.893335pt;}
.x13{left:151.799998pt;}
.x24{left:160.893335pt;}
.x10{left:166.989335pt;}
.x25{left:191.190657pt;}
.x26{left:199.857324pt;}
.x6{left:213.366662pt;}
.x1{left:218.833333pt;}
.x17{left:246.149335pt;}
.x1c{left:251.836001pt;}
.x20{left:380.166667pt;}
.x18{left:396.973338pt;}
.x1d{left:405.681335pt;}
.x19{left:412.126668pt;}
.x1a{left:458.256002pt;}
.x1f{left:484.434652pt;}
.x28{left:518.466673pt;}
.x1b{left:555.265340pt;}
.x14{left:642.466665pt;}
.x11{left:662.409318pt;}
.x7{left:664.166650pt;}
.x16{left:672.721313pt;}
.x29{left:693.166666pt;}
}
