.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.690918;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.999512;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.833984;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.988770;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.988770;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc1{color:rgb(35,31,32);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:36.000000px;}
.fs1{font-size:42.000000px;}
.fs0{font-size:72.000000px;}
.y9{bottom:2.356999px;}
.y7{bottom:2.766000px;}
.y10{bottom:3.771000px;}
.y2{bottom:4.661000px;}
.yd{bottom:6.056999px;}
.y12{bottom:7.394000px;}
.y14{bottom:14.195999px;}
.y16{bottom:164.193994px;}
.y0{bottom:279.000000px;}
.y15{bottom:279.270031px;}
.y13{bottom:453.670025px;}
.y11{bottom:541.456020px;}
.yf{bottom:562.956020px;}
.ye{bottom:635.353019px;}
.yc{bottom:646.521019px;}
.yb{bottom:664.271018px;}
.ya{bottom:675.439019px;}
.y8{bottom:686.607019px;}
.y6{bottom:697.775020px;}
.y5{bottom:732.783024px;}
.y4{bottom:743.132023px;}
.y3{bottom:753.846024px;}
.y1{bottom:777.250025px;}
.h6{height:11.168000px;}
.h8{height:16.000000px;}
.h7{height:17.750000px;}
.h9{height:20.500000px;}
.h2{height:22.049999px;}
.h5{height:27.896484px;}
.h4{height:33.489258px;}
.ha{height:42.500000px;}
.h3{height:48.937500px;}
.hb{height:173.899994px;}
.h1{height:301.000000px;}
.h0{height:841.900024px;}
.w6{width:29.650000px;}
.w5{width:71.050003px;}
.w3{width:83.199997px;}
.w7{width:87.050003px;}
.w8{width:147.500000px;}
.w9{width:182.300003px;}
.wa{width:227.300003px;}
.w2{width:240.000000px;}
.w4{width:338.100006px;}
.w1{width:540.000000px;}
.w0{width:595.299988px;}
.x6{left:0.000000px;}
.xa{left:4.868000px;}
.x15{left:11.404000px;}
.x10{left:17.351000px;}
.xe{left:25.952999px;}
.x0{left:27.500000px;}
.xf{left:28.900002px;}
.x9{left:34.457001px;}
.xc{left:35.959000px;}
.xb{left:37.511002px;}
.xd{left:40.319000px;}
.x5{left:51.475001px;}
.x4{left:56.700001px;}
.x2{left:60.067005px;}
.x14{left:64.285999px;}
.x16{left:70.100000px;}
.x1a{left:90.726997px;}
.x19{left:110.265999px;}
.x17{left:112.857998px;}
.x7{left:134.674998px;}
.x11{left:147.599998px;}
.x1{left:232.500000px;}
.x12{left:235.650002px;}
.x18{left:297.900003px;}
.x13{left:384.150002px;}
.x3{left:436.029987px;}
.x8{left:472.774989px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs2{font-size:48.000000pt;}
.fs1{font-size:56.000000pt;}
.fs0{font-size:96.000000pt;}
.y9{bottom:3.142666pt;}
.y7{bottom:3.688000pt;}
.y10{bottom:5.028000pt;}
.y2{bottom:6.214666pt;}
.yd{bottom:8.075999pt;}
.y12{bottom:9.858667pt;}
.y14{bottom:18.927999pt;}
.y16{bottom:218.925325pt;}
.y0{bottom:372.000000pt;}
.y15{bottom:372.360041pt;}
.y13{bottom:604.893366pt;}
.y11{bottom:721.941360pt;}
.yf{bottom:750.608027pt;}
.ye{bottom:847.137358pt;}
.yc{bottom:862.028025pt;}
.yb{bottom:885.694691pt;}
.ya{bottom:900.585359pt;}
.y8{bottom:915.476026pt;}
.y6{bottom:930.366693pt;}
.y5{bottom:977.044032pt;}
.y4{bottom:990.842697pt;}
.y3{bottom:1005.128031pt;}
.y1{bottom:1036.333366pt;}
.h6{height:14.890667pt;}
.h8{height:21.333333pt;}
.h7{height:23.666667pt;}
.h9{height:27.333333pt;}
.h2{height:29.399999pt;}
.h5{height:37.195312pt;}
.h4{height:44.652344pt;}
.ha{height:56.666667pt;}
.h3{height:65.250000pt;}
.hb{height:231.866659pt;}
.h1{height:401.333333pt;}
.h0{height:1122.533366pt;}
.w6{width:39.533333pt;}
.w5{width:94.733337pt;}
.w3{width:110.933329pt;}
.w7{width:116.066671pt;}
.w8{width:196.666667pt;}
.w9{width:243.066671pt;}
.wa{width:303.066671pt;}
.w2{width:320.000000pt;}
.w4{width:450.800008pt;}
.w1{width:720.000000pt;}
.w0{width:793.733317pt;}
.x6{left:0.000000pt;}
.xa{left:6.490667pt;}
.x15{left:15.205333pt;}
.x10{left:23.134666pt;}
.xe{left:34.603999pt;}
.x0{left:36.666667pt;}
.xf{left:38.533335pt;}
.x9{left:45.942668pt;}
.xc{left:47.945333pt;}
.xb{left:50.014669pt;}
.xd{left:53.758667pt;}
.x5{left:68.633334pt;}
.x4{left:75.600001pt;}
.x2{left:80.089340pt;}
.x14{left:85.714666pt;}
.x16{left:93.466667pt;}
.x1a{left:120.969330pt;}
.x19{left:147.021332pt;}
.x17{left:150.477331pt;}
.x7{left:179.566664pt;}
.x11{left:196.799998pt;}
.x1{left:310.000000pt;}
.x12{left:314.200002pt;}
.x18{left:397.200005pt;}
.x13{left:512.200002pt;}
.x3{left:581.373316pt;}
.x8{left:630.366652pt;}
}
